{{extend 'layout.html'}}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <center style="background-color:white; color:black; padding:30px">
                    {{if projeto.nome_chefe == "MEME ABENÇOADO":}}
                    <img src="https://i.ibb.co/ZSFRgmM/abc.jpg" class="img-fluid">
                    {{pass}}
                    <h1>ACESSO GERAL</h1>
                </center>
            </div>
            <div class="col-md-6">
                <div class="blockquote">
                    <p class="mb-0">{{=projeto.descricao}}</p>
                    <div class="blockquote-footer">PROJETO DE <cite title="Source Title">{{=projeto.nome_chefe}}</cite></div>
                    </div>
                <ol>
                    <li><i class="fa fa-bar-chart text-primary mr-2"></i><a href="{{=URL('venda_vista', args=projeto.id)}}">VENDAS</a></li>
                    <hr>
                    <li><i class="fa fa-bars text-primary mr-2"></i><a href="{{=URL('mercadoria','acesso_carrada', args=projeto.id)}}">MERCADORIA</a></li> <hr>
                    <li><i class="fa fa-users  text-primary mr-2"></i><a href="{{=URL('equipe','acesso_equipe', args=projeto.id)}}">EQUIPE DE VENDAS</a></li>
                    <hr>

                    <li><i class="fa fa-user-circle-o text-primary mr-2"></i><a href="{{=URL('equipe','acesso_funcionario', args=projeto.id)}}">FUNCIONÁRIO</a></li>
                    <hr>
                    <li><i class="fa fa-sticky-note-o text-primary mr-2"></i> <a href="{{=URL('despesa','acesso_class_despesa', args=projeto.id)}}">DESPESA</a></li>
                    <hr>
                    <li><i class="fa fa-list-ol  text-primary mr-2"></i><a href="{{=URL('relatorio', args=projeto.id)}}">RELATÓRIO</a></li>
                    <hr>
                </ol>
                    <hr>

                    <br>
              
               </div>
     <div class="col-md-6">

        {{listarotulo=[]}}
        {{lista=[]}}
        {{a=1}}
        {{for row in lvend:}}
        {{listarotulo+=[a]}}
        {{lista+=[row.vendapraso]}}
        {{a+=1}}
        {{projecaovenda=row.vale_saida/0.06154}}
        {{projecao=row.vendapraso/projecaovenda*100}}

        {{="{:,}".format(round(projecao,1)).replace(",",".")}}% | VENDA- R$ {{="{:,}".format(round(row.vendapraso,0)).replace(".",",")}}0 | PROJEÇÃO DA VENDA R$ {{="{:,}".format(round(projecaovenda,0)).replace(".",",")}}0
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{=projecao}}%;" aria-valuenow="{{=row.vendapraso}}" aria-valuemin="0" aria-valuemax="100"> {{=row.nome_vendedor}}</div>
                </div>

            <br>
            {{pass}}
            </div>
        </div>
    </div>
</div>
