{{extend 'layout.html'}}
<h1>ACESSO FUNCIONÁRIOS</h1>
<a class="btn btn-secondary btn-success" href="{{=URL('default','acesso_geral_projeto', args=projeto.id)}}">VOLTAR</a>
<a class="btn btn-secondary btn-success" href="{{=URL('criar_funcionario', args=projeto.id)}}">INSERIR FUNCIONÁRIO</a>
            {{caderno=0}}{{vale=0}}{{salario=0}}
{{a=1}}
<div class="table-responsive">
           <table class="table table-striped table-borderless ">
					<thead>
					  <tr>
                          <th>#</th>
						<th>NOME</th>
						<th>FUNÇÃO</th>
						<th>SALÁRIO</th>
						<th>VALE</th>
                          <th>CADERNO</th>
                           <th>SALDO</th>
					  </tr>
					</thead>
					<tbody>
						{{for row in rows:}}
					  <tr>
                          <td>{{=a}}º</td>
                          {{a+=1}}
                          <td><a href="{{=URL('alterar_funcionario', args=row.id)}}">{{=row.nome_funcionario}}</a></td>
						<td>{{=row.funcao}}</td>
						<td>R$ {{="{:,}".format(round(row.salario_funcionario,2)).replace(",",".")}}0</td>
                          <td>R$ {{="{:,}".format(round(row.vale_saida_funcionario,2)).replace(",",".")}}0</td>
                          
                          <td>R$ {{="{:,}".format(round(row.vale_caderno_funcionario,2)).replace(",",".")}}0</td>
                          {{saldo=row.salario_funcionario-row.vale_saida_funcionario-row.vale_caderno_funcionario}}
                           {{if saldo > 0:}}
                          <td>R$ {{="{:,}".format(round(saldo,2)).replace(",",".")}}0</td>
                          {{else:}}
                          <td width=150 bgcolor=#F63030>R$ {{="{:,}".format(round(saldo,2)).replace(",",".")}}0</td>
                          {{pass}}
					  </tr>
                         {{caderno+=row.vale_caderno_funcionario}}
                        {{vale+=row.vale_saida_funcionario}}
                        {{salario+=row.salario_funcionario}}
					  {{pass}}
                        <tr>
						<th>#</th>
                            
						<th></th>
						<th></th>
						<th>R$ {{="{:,}".format(round(salario,2)).replace(",",".")}}0</th>
						<th>R$ {{="{:,}".format(round(vale,2)).replace(",",".")}}0</th>
                          <th>R$ {{="{:,}".format(round(caderno,2)).replace(",",".")}}0</th>
						<th></th>
					  </tr>
					</tbody>
				  </table>
</div>

{{projeto.total_vale_caderno_funcionario=caderno}}
{{projeto.update_record()}}
