{{extend 'layout.html'}}
<h1>ACESSO AS VENDAS DE {{=vendedor.nome_vendedor}}</h1>
<a class="btn btn-secondary btn-success" href="{{=URL('acesso_equipe', args=vendedor.projeto)}}">VOLTAR</a>
<a class="btn btn-secondary btn-success" href="{{=URL('criar_particao', args=vendedor.projeto)}}">CRIAR PARTIÇÃO</a>
{{totalcaderno=0}}
{{totalvista=0}}
{{totalprazo=0}}
{{totalfichas=0}}
{{totalentrada=0}}
{{totaldevolucao=0}}
 {{fichas_devolvidas=0}}
             <br><br>{{for row1 in rows_sub:}} 
{{caderno=0}}
{{vista=0}}
{{prazo=0}}
{{fichas=0}}
{{entrada=0}}
{{devolucao=0}}
<a class="btn btn-primary" href="{{=URL('inserir_venda', args=[vendedor.id,row1.id])}}">INSERIR VENDA</a>
<a class="btn btn-secondary btn-success" href="{{=URL('alterar_particao', args=row1.id)}}">ALTERAR {{=row1.descricao}}</a>
<div class="table-responsive">
    {{a=1}}
    VENDA PARTIÇÃO {{=row1.descricao}} VENDEDOR {{=vendedor.nome_vendedor}}
           <table class="table table-striped table-borderless ">
					<thead>
					  <tr>
                          <th>#</th>
						<th>DATA</th>
                          <th>V.PRAZO</th>
                          <th>FICHAS</th>
						<th>CADERNO</th>
                          	
                          	<th>ENTRADA</th>
						
                          <th>FICHAS. D</th>
                          <th>V.DEVOLVIDO</th>
					  </tr>
					</thead>
					<tbody>
						   {{fichas_devolvidas=0}}
                        {{for row in rows_vend:}}
                        {{if row.sub_venda == row1.id:}}
					  <tr>
                          <td>{{=a}}</td>
                          {{a+=1}}
                        <td><a href="{{=URL('alterar_venda', args=row.id)}}">{{=("{}/{}/{}".format(row.data_venda.day,row.data_venda.month,row.data_venda.year))}}</a></td>
                          {{row.venda_praso=row.venda_praso-row.valor_devolvido}}
                          
                          <td>R$ {{="{:,}".format(round(row.venda_praso,2)).replace(",",".")}}0</td>
                           <td>{{=row.quant_fichas}}</td>
                          <td>R$ {{="{:,}".format(round(row.vale_caderno,2)).replace(",",".")}}0</td>
                          {{row.quant_fichas=row.quant_fichas-row.quant_fichas_devolvidas}}
                         
                          <td>{{=row.entradas_venda}}</td>
                          
                            {{caderno+=row.vale_caderno}}
                            {{vista+=row.venda_vista}}
                            {{prazo+=row.venda_praso}}
                          <td>{{=row.quant_fichas_devolvidas}}</td>
                          <td>R$ {{="{:,}".format(round(row.valor_devolvido,2)).replace(",",".")}}0</td>
                          {{fichas+=row.quant_fichas}}
                          {{fichas_devolvidas+=row.quant_fichas_devolvidas}}
                    {{entrada+=row.entradas_venda}}
                    {{devolucao+=row.valor_devolvido}}
					  </tr>
					  {{pass}}
                        {{pass}}
                        <tr>
                            <th>#</th>
                            <th>TOTAL</th>
                            <th>R$ {{="{:,}".format(round(prazo,2)).replace(",",".")}}0</th>
						<th>{{=fichas}}</th>
						<th>R$ {{="{:,}".format(round(caderno,2)).replace(",",".")}}0</th>
                            
                            <th>R$ {{="{:,}".format(round(entrada,2)).replace(",",".")}}0</th>
                           
						
                             <th>  {{=fichas_devolvidas}}</th>
                            <th>R$ {{="{:,}".format(round(devolucao,2)).replace(",",".")}}0</th>
					  </tr>
					</tbody>
               
				  </table>
                    {{totalcaderno+=caderno}}
                    {{totalprazo+=prazo}}
    
                    {{totalfichas+=fichas}}
                    {{totalentrada+=entrada}}
                    {{totaldevolucao+=devolucao}}
</div>{{pass}}

<!--
                    
                    
                                        
                                       



    

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <a>CADERNO</a>
                    </div>
                    <div class="col-md-3">
                      <a>R$ {{="{:,}".format(round(totalcaderno,2)).replace(",",".")}}0</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <a>FICHAS</a>
                    </div>
                    <div class="col-md-3">
                      <a>R$ {{="{:,}".format(round(totalfichas,2)).replace(",",".")}}0</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <a>ENTRADAS</a>
                    </div>
                    <div class="col-md-3">
                      <a>R$ {{="{:,}".format(round(totalentrada,2)).replace(",",".")}}0</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <a>VENDA À VISTA</a>
                    </div>
                    <div class="col-md-3">
                      <a>R$ {{="{:,}".format(round(totalvista,2)).replace(",",".")}}0</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <a>VENDA À PRAZO</a>
                    </div>
                    <div class="col-md-3">
                      <a>R$ {{="{:,}".format(round(totalprazo,2)).replace(",",".")}}0</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <a>VALOR DEVOLVIDO PELO FISCAL<br></a>
                    </div>
                    <div class="col-md-3">
                      <a> R$ {{="{:,}".format(round(totaldevolucao,2)).replace(",",".")}}0</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

 -->
{{vendedor.quant_fichas=totalfichas}}
{{vendedor.vale_caderno=totalcaderno}}
{{vendedor.vendapraso=totalprazo}}
{{vendedor.update_record()}}
